@{
	ViewData["Title"] = "About";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>À Propos-Robbie Lens Photography</title>
	<link rel="stylesheet" type="text/css" href="~/css/RobiStyleSheet.css">
	<link rel="stylesheet" type="text/css" href="~/css/Apropos.css">
	<link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
	

	<main class="a-propos-main">
		<section>
			<h1>About </h1>
			<div class="contenu-carre">
				<p>
					Photographer for more than 5 years, I produce reports with dynamic and relevant photos for your communication projects. 
					Creativity, quality and serenity with you! I manage everything from artistic direction, delivery of your returned photos, ready for use.
				</p>
				<h2>Services</h2>
				<ul>
					<li>Portrait </li>
					<li>Shooting mode</li>
					<li>Retouching</li>
					<li>Enlargement</li>
				</ul>
			</div>
			<div>
				<a asp-area="" asp-controller="Home" asp-action="Portfolio" class="cta">VIEW MY PORTFOLIO</a>
				
			</div>
		</section>

		<section class="section-tarifs">
			<h2>Pricing</h2>
			<table>
				<thead>
					<tr>
						<th>Designation</th>
						<th>Quantity</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Professional photo studio retouching</td>
						<td>x800 photos</td>
						<td>1200/800 photos</td>
					</tr>
					<tr>
						<td>Professional lighting photo assistant</td>
						<td>x2sets studio</td>
						<td>2500/day</td>
					</tr>
				</tbody>
			</table>
		</section>
	</main>
</body>
</html>