@{
	ViewData["Title"] = "Portfolio";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portfolio-Robbie Lens Photography</title>
	<link rel="stylesheet" type="text/css" href="~/css/RobiStyleSheet.css">
	<link rel="stylesheet" type="text/css" href="~/css/Portfolio.css">
	<link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
	<main>
		<section>
			<h1>Portfolio</h1>
		</section>
		<section class="portfolio-section-photos">
			<h2>Landscapes</h2>
			<div class="grid-paysages">
				<a href="~/img/paysage1.jpg" class="lien-conteneur-photo">
					<img src="~/img/paysage1.jpg" alt="Mont Aoraki - Nouvelle-Zélande">
					<div class="photo-hover">See Picture</div>
				</a>
				<a href="~/img/paysage2.jpg" class="lien-conteneur-photo">
					<img src="~/img/paysage2.jpg" alt="Parc National d'Abel Tasman - Nouvelle-Zélande">
					<div class="photo-hover">See Picture</div>
				</a>
				<a href="~/img/paysage3.jpg" class="lien-conteneur-photo">
					<img src="~/img/paysage3.jpg" alt="Lac Rotorua - Nouvelle-Zélande">
					<div class="photo-hover">See Picture</div>
				</a>
				<a href="~/img/paysage4.jpg" class="lien-conteneur-photo">
					<img src="~/img/paysage4.jpg" alt="Lac Wanaka - Nouvelle-Zélande">
					<div class="photo-hover">See Picture</div>
				</a>
				<a href="~/img/paysage5.jpg" class="lien-conteneur-photo">
					<img src="~/img/paysage5.jpg" alt="Mont Taranaki - Nouvelle-Zélande">
					<div class="photo-hover">See Picture</div>
				</a>
				<a href="~/img/paysage6.jpg" class="lien-conteneur-photo">
					<img src="~/img/paysage6.jpg" alt="Milford Sound - Nouvelle-Zélande">
					<div class="photo-hover">See Picture</div>
				</a>
				<a href="~/img/paysage7.jpg" class="lien-conteneur-photo">
					<img src="~/img/paysage7.jpg" alt=" Twelve Apostle - Australie">
					<div class="photo-hover">See Picture</div>
				</a>
				<a href="~/img/paysage8.jpg" class="lien-conteneur-photo">
					<img src="~/img/paysage8.jpg" alt="Wai-O-Tapu - Nouvelle-Zélande">
					<div class="photo-hover">See Picture</div>
				</a>
				<a href="~/img/paysage9.jpg" class="lien-conteneur-photo">
					<img src="~/img/paysage9.jpg" alt="Mont Cook - Nouvelle-Zélande">
					<div class="photo-hover">See Picture</div>
				</a>
			</div>
			<h2>Portraits</h2>
			<div class="grid-portraits">
				<a href="~/img/portrait1.jpg" class="lien-conteneur-photo">
					<img src="~/img/portrait1.jpg" alt="Portrait jeune femme 1">
					<div class="photo-hover">See Picture</div>
				</a>
				<a href="~/img/portrait2.jpg" class="lien-conteneur-photo">
					<img src="~/img/portrait2.jpg" alt="Portrait jeune femme 2">
					<div class="photo-hover">See Picture</div>
				</a>
				<a href="~/img/portrait3.jpg" class="lien-conteneur-photo">
					<img src="~/img/portrait3.jpg" alt="Portrait jeune homme 3">
					<div class="photo-hover">See Picture</div>
				</a>
				<a href="~/img/portrait4.jpg" class="lien-conteneur-photo">
					<img src="~/img/portrait4.jpg" alt="Portrait jeune femme 4">
					<div class="photo-hover">See Picture</div>
				</a>
				<a href="~/img/portrait5.jpg" class="lien-conteneur-photo">
					<img src="~/img/portrait5.jpg" alt="Portrait jeune femme 5">
					<div class="photo-hover">See Picture</div>
				</a>
				<a href="~/img/portrait6.jpg" class="lien-conteneur-photo">
					<img src="~/img/portrait6.jpg" alt="6Portrait jeune femme 6">
					<div class="photo-hover">See Picture</div>
				</a>
			</div>
		</section>


	</main>
</body>
</html>