@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="~/css/RobiStyleSheet.css">
	<link rel="stylesheet" type="text/css" href="~/css/Apropos.css">
	<link rel="stylesheet" type="text/css" href="~/css/privacy.css">
	<link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
	

	<main class="a-propos-main">
		<section>
			<h1>@ViewData["Title"]</h1>
			<p class="warning">Avoid downloading pictures without authorization, otherwise you may incur <b>legal proceedings</b>.</p>
			<br />
			<img src="~/img/robbie-lens.png"/>

			<p>The photos on our website are <em>intellectual property</em>.</p>
			

		</section>

		
	</main>

	
</body>
</html>